body{
    font-family: 'ralewaythin';
    margin: 0;
}
#bloc_page{
    font-family: 'Raleway', sans-serif;
    border: red solid 3px;
    box-sizing: border-box;
}
.full{
    color: #0065FC;
}
.empty{
    color: #F2F2F2;
}
.price{
    font-weight: bold;
}
* a{
    text-decoration: none;
    color: black;
}
* {
    outline-style: none;
    list-style: none;
}

/*---------------------------------*\

$HEADER

\*---------------------------------*/
header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.logo{
    margin-left: 20px;
    width: calc(100% - 120px);
    order: -1;
}
.signup {
    order: -1;
    width: 80px;
}
.signup p {
    margin: 0;
    width: 10px;
}
.signup a {
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
}
nav {
    display: flex;
    width: 100%;
}
nav a {
    display: block;
    text-align: center;
    width: 50%;
    color: black;
    border-bottom: 3px solid #F2F2F2;
}
nav a:hover {
    border-bottom: 3px #0065FC solid;
    color: #0065FC;
}
/*---------------------------------*\

$SEARCH

\*---------------------------------*/
#search{
    margin: 0 20px;
}
form{
    justify-content: baseline;
    display: flex;
    align-items: center; 
}
#search h1{
    font-size: 19px;
}
#search p{
    font-size: 13px;
}
#recherche{
    padding-left: 20px;
    background-color: white;
    border: 1px solid #F2F2F2; 
    height: 42px;
    width: 250px;
    font-weight: bold;
}
#search-btn{
    display: none;
}
#search-icn {
    position: relative;
    left: -15px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 15px 15px 15px 15px;
    height: 45px;
    width: 48px;
    font-size: 17px;
    font-weight: bold;
    color: white;
}
#location{
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 20px 0 0 20px;
    height: 46px;
    width: 51px;
    
}
/*---------------------------------*\

$FILTERS

\*---------------------------------*/
#filter h3{
    width: 100%;
}

#filter{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.button-filters{
    margin-top: 10px;
    display: flex;
    align-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 30px 30px 30px 30px;
    height: 46px;
}
.text{
    padding-left: 3px;
    padding-right: 8px;
    font-weight: bold;
    font-family: 'Raleway';
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #DEEBFF;
    border-radius: 100%;
    margin-left: -8.9px;
}

.button-filters:hover ,.button-filters:active{
    background-color: #0065FC;
    border: 2px solid black;
    color: #DEEBFF;
    transition: .3s;
}
#info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-info{
    margin: 50px 1em 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    height: 22px;
    width: 22px;
    border: 1px solid #F2F2F2;
    border-radius: 50px;
    position: relative;
    bottom: 27px;
}
.icon-btn{
    font-size: 85%;
}
/*---------------------------------*\

$HOUSING

\*---------------------------------*/
#container{
    display: flex;
    flex-direction: column;
}
#city-house{
    margin-top: 10px;
    order: 1;
}
#city-house h2{
    font-size: 20px;
    padding-left: 10%;
}
#show-more {
    font-size: 15px;
    font-weight: bold;
    padding-left: 10%;
}
#housing {
    display: flex;
    flex-direction: column;
}
#housing a{
    width: 80%;
    margin: 10px auto;
}
.hotel {
    border-radius: 23px;
    padding: 3px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.300), -1px -1px 15px rgba(0, 0, 0, 0.300 );
}

.hotel img{
    border-radius: 20px 20px 0 0;
    height: 60%;
    width: 100%;
    object-fit: cover;
}

.hotel-desc {
    display: flex;
    height: 40%;
    padding-left: 12px;
    display: flex;
    padding-top: 8px;
    flex-direction: column;
    line-height: 20px;
    font-size: 12px;
}
.hotel-desc h4{
    font-size: 15px;
    padding-bottom: 6px;
}
#pop-house{
    background: #F2F2F2;
    order: -1;
    height: 450px;
}
#pop-house h2 {
    margin: 30px 0;
    font-size: 20px;
    padding-left: 10%;
}
#trend-housing {
    display: flex;
    flex-direction: column;
}
#trend-housing a{
    width: 80%;
    margin: 3px auto;
}
.hotel-pop {
    height: 100px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    background: white;
    padding: 3px;
    border-radius: 23px;
}
.hotel-pop img{
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 40%;
    object-fit: cover;
}
.hotel-desc-t {
    display: flex;
    flex-direction: column;
    line-height: 16px;
    font-size: 12px;
    padding-left: 15px;
    width: 50%;
}
.popstar{
    padding-top: 20px;
}
.hotel-desc-t h4{
    padding: 5px 0 5px 0;
}
.hotel-desc p, .hotel-desc h4,.hotel-desc-t p, .hotel-desc-t h4{
    margin: 0;
}
.hotel-desc h4{
    font-weight: bold;
}
.fa-chart-line {
    padding-left: 15%;
}
/*---------------------------------*\

$HOUSING

\*---------------------------------*/
#footer{
    background: #F2F2F2;
    height: 100%;
    width: 100%;
    line-height: 30px
}
#footer h3{
    padding-left: 12%;
    margin-bottom: -15px;
}