@font-face {
    font-family: 'ralewaythin';
    src: url('fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*Header*/
body{
    font-family: 'ralewaythin';
    margin: 0;
    background-color: #c2c2c2;
}
/*Nav*/
/*Body*/
/*Footer*/
footer{
    position: absolute; /*a enlever une fois que le haut de la page est fait*/
    display: flex;
    background: #F2F2F2;
    width: 100%;
    padding: 0 53px 0 50px;
    font-size: 0.9em;
    bottom: 0;
}

.foot_liste li{
    list-style: none;
    padding: 18px 0 0 0;
}
#hebergements{
    width: 31.66%;
}
#propos{
    width: 34.86%; 
}
#assistance{
    width: 33.47%;
}
div, .foot_liste {
    padding-left: 0px;
}

.foot_liste a {
    text-decoration: none;
    color: black;
}
@media all and (max-width: 480px){
    footer {
        flex-direction: column;
    }
}
@media all and (min-width: 720px) {
    .foot_liste a:hover{
        border-top: #0065FC 3px solid;
        border-radius: 7px;
        padding-top: 2px;}
    
    .foot_liste a:hover{
        border-bottom: #0065FC 3px solid;
        border-radius: 7px;
        padding-bottom: 2px;
        background: #1b9cff25;
    }
    
    .foot_liste a:hover, a:active{
        transition: .1s;
    }
}